.tableTitle {
  font-family: "Mouse-Memoirs";
  letter-spacing: 1px;
}

.tbody img {
  border-radius: 3px;
}

button.success {
  background-color: var(--main-background-color) !important;
}

button.success:hover {
  background-color: var(--secondary-background-color) !important;
}
