/* HERO */
.hero {
  min-height: 75vh;
  background-color: #eaeaea;
  background-image: url("../../assets/images/hotdeal.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.hero .jumbotron {
  width: 75%;
  padding: 65px 0;
}
