/* SMALL FOOTER */
footer {
  background: var(--main-container-color);
  min-height: 5vh;
}

.copyright,
.top {
  text-align: center;
  font-family: "Mouse-Memoirs";
  padding-top: 15px;
  letter-spacing: 1px;
}

.top button {
  border: none;
}
/* MEGA FOOTER */
.megaFooter {
  background: var(--main-font-color, --main-background-color);
  color: var(--secondary-font-color);
  padding: 30px;
}

.megaFooter {
  font-style: italic;
}

.megaFooter a {
  color: var(--white-color, #fff);
  text-decoration: none;
}

.megaFooter a:hover {
  color: #e74c3c;
}

.megaFooter .container {
  display: flex;
  justify-content: space-evenly;
  height: 300px;
  flex-wrap: wrap;
}
