/* HEADER-SMALL */
.headerSmall {
  width: 85%;
  overflow: hidden;
  background: var(--secondary-color, #19005c);
  padding: 10px 0;
  margin: 30px auto;
}

.headerSmall .container form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.headerSmall .submit {
  width: 120px;
  height: 40px;
  background: var(--thrid-color, #3db757);
  color: var(--white-color, #fff);
  font-weight: bold;
  border: 0;
  border-radius: 5px;
  border: 0;
}

.headerSmall .field {
  width: 150px;
  padding: 10px;
  height: 20px;
  border-radius: 5px;
  border: 0;
  margin: 0 10px;
}
