/* TESTIMONIAL */
section.testimonial {
  background: var(--secondary-background-color);
  min-height: 400px;
}

section.testimonial h3,
section.testimonial h5 {
  font-family: "Mouse-Memoirs";
}

section.testimonial h3 {
  color: var(--secondary-font-color);
  text-align: center;
  padding-top: 15px;
}

section.testimonial p {
  margin: 30px;
  font-size: 15px;
  letter-spacing: 1px;
  font-style: italic;
}

section.testimonial .avatar {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  float: left;
  background: #3498db;
  margin: 0 10px 0 0;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}
