/* TESTIMONIAL */
section.testimonial {
  background: var(--main-color, #19005c);
  width: 100%;
  overflow: hidden;
  height: 550px;
}

section.testimonial .headerTitle {
  color: var(--white-color, #fff);
  text-align: center;
}

section.testimonial .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 100px;
}

section.testimonial .container .content {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

section.testimonial .content .nama {
  margin: 15px;
  color: var(--white-color, #fff);
}

section.testimonial .content .avatar {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  float: left;
  background: #3498db;
  margin: 0 10px 0 0;
}

section.testimonial .content .text {
  margin: 0;
  color: #eee;
  font-style: italic;
}

section.testimonial {
  height: 500px;
}

section.testimonial .container .content p {
  margin-right: 20px;
}

section.testimonial .container .content {
  margin-left: 70px;
  margin-right: 100px;
}

.mega-footer {
  height: 280px;
}

.mega-footer .container .content {
  margin: 15px;
}

@media screen and (max-width: 1200px) {
  section.testimonial {
    height: 1000px;
  }

  section.testimonial .container .content p {
    margin-right: 20px;
  }

  section.testimonial .container .content {
    margin-left: 70px;
    margin-right: 100px;
  }
}

/* mobile */
@media screen and (max-width: 600px) {
  section.testimonial {
    height: 1090px;
  }

  section.testimonial .container .content {
    margin-left: 55px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  section.testimonial .container .content .testi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  section.testimonial .container .content .nama {
    margin-right: 85px;
  }

  section.testimonial .container .content .testi img {
    margin-right: 70px;
  }
}
