.formLogin {
  padding: 75px 0;
  background-color: #f6f9ff;
}

.formLogin h3 {
  font-family: "Mouse-Memoirs";
}

.card {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.card h4,
.card .textSmall {
  font-family: "open-sans";
}

.textSmall {
  font-size: 0.875em;
}

button.btnSuccess {
  background-color: var(--secondary-background-color) !important;
}

button.btnSuccess:hover {
  background-color: var(--main-background-color) !important;
}

.register {
  text-decoration: none;
}
